 #topbar{
        background:#fff;
        width:100%;
        height:45px;
      }
      body{
        margin: 0;
        font-family: arial,helvetica,san-serif;
      }
      .fixedwidth{
        width:1100px;
        margin:0 auto;
      }
      #logodiv{
        padding-top:5px; 
        float:left;
        border-right: 1px solid #990000;
        padding-right: 10px;
      }
      #signinddiv{
        font-weight: bold;
        font-size: 0.9em;
        padding: 0px 60px 0 20px;
        border-right: 1px solid #990000;
        width: 100px;
        float: left;
      }
       #signinddiv img {
        position: relative;
        top:5px;
       
       }
       #topmenudiv{
         float: left;
         
       }
       #topmenudiv ul{
        margin:0;
        padding: 0;
       }
        #topmenudiv li {
          padding: 10px 30px 12px 15px;
          list-style: none;
          font-size: 0.9em;
          font-weight: bold;
          text-align:left;
          border-right: 1px solid #990000;
          width:32px;
          float:left;
          
        }
        
        #searchdiv{
          float: left;
          padding: 5px;
        }
        #searchdiv input {
          height: 27px;
          border:solid ;
          padding: 3px 0 3px 10px;
          font-size: 1.2em;
          background-image: url("image/searchlogo.png");
          background-repeat: no-repeat;
          background-position: right center;
        }
        .brake{
          clear: both;
        }
        #newsbar{
        background:#990000;
        width:100%;
        height:91px;
        color: white;
      }
        #newsbar p {
          margin: 0;
          padding: 0;
          padding-top: 15px;
          float: left;
        }
      #newsheader{
         font-size: 3em;
        
      }
      #uk{
          font-size: 0.7em;
          padding-left: 20px;

      }
      #RSS{
        float: right;
        margin-top: 35px;
      }
      #topicmenu ul{
        background-color:#3E0C0D;
        padding:3px 10px 0 10px;
        margin: 0;
        height: 16px;
      }
      #topicmenu li {
          list-style: none;
          font-size: 0.8em;
          text-align:left;
          border-right: 1px solid white;
          padding-right: 20px;
          padding-left: 10px;
          background-color:none;
          float: left;

      }
      .selected{
        background-color: #EDEDED;
        color: #666666;
        height: 18px;
        position: relative;
        top:-3;
        padding-top: 2px !important;
      }
       #content{
         width:100%;  
         color: #535353;
         font-size: 0.8em;
      }
      h1 {
        color: #1F4F82;
        font-size: 2.5em;
      }
      .headlineimg{
        float: left;
        height: 300px;
        width: 400px;
      }
      .newsItem{
        position: relative;
        top: -10px;
        left:10px;
        width: 200px; 
        float: left;
        font-size: 1em;
      }
      .newsItem a{
        text-decoration:none;
      }
     .newsItem a:hover{
        text-decoration:underline;
     }
     a {
      text-decoration:none;
     }
     a:hover{
      text-decoration:underline;
     }
     .video{
          background-image: url("image/triangle.png");
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 15px;
     }
     .links{
      line-height: 1.5em;
     }
     #watchlisten{
      background-color: #EEEEEE;
      float:right;
      width:300px;
       position: relative;
       top: -80px;
     }
    #watchlisten h2 {
        color: #505050;
        margin:10px 0 10px 10px; 
        font-size: 1.8em;
     }
    .leftarrow {
      float: left;
      border-right: 1px solid white;
    }
   .wblock{
    float: left;
    background-color: #D1700E;
     border-right:1px solid white;
    width: 157px;

   }